{% extends 'layout.html.twig' %}

{% block title %}Création du commentaires - {{ parent() }}{% endblock title %}

{% block innerContent %}
    <h2>Création d'un commentaire</h2>

    {{ form_start(form,
        {
            attr:
            {
                'novalidate': 'novalidate',
            }
        }
    ) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock innerContent %}